
.hole {
  background: url("/hole.png") no-repeat center/contain;
  width: 17vw;
  height: 17vh
}

.mole {
  background-image: url("/mole.png");
  width: 17vw;
  height: 17vh;
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reset {
  width: 10em;
  height: 3em;
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}