
.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

.control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reset {
  width: 10em;
  height: 3em;
}